<header class="header">   
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container">
          <div class="navbar-brand">Medical care</div>
            <form class="d-flex" id="formHeader">
              <button  class="btn  btn-outline-primary" style="width: 100px; height: 50px;"  id="btnLogin">Log in</button>
              <button  class="btn  btn-outline-primary" style="width: 150px; height: 50px;"  id="btnCreate">Create vizit</button>
              <button  class="btn  btn-outline-primary ms-2" style="width: 100px; height: 50px;"  id="btnExit">Exit</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="card-box">
        <div class="wrapp">
          <div class="card">
              <form action="#" class="d-flex flex-column" id="formLogin">
                  <div class="h3 text-center pt-2 pb-2">Login</div>
                  <div class="d-flex align-items-center input-field me-4 mb-4">
                      <span class="far fa-user p-2"></span>
                      <input type="email" placeholder="Email" required class="form-control" id="email">
                  </div>
                  <div class="d-flex align-items-center input-field me-4 mb-4">
                      <span class="fas fa-lock p-2"></span>
                      <input type="password" placeholder="Password" required class="form-control" id="password">
                  </div>
                  </div>
                  <div class="my-3">
                      <button  value="Log in" class="btn btn-primary" id="logIn">Sing in</button>
                  </div>
              </form>
          </div>
    </div>
  </div>
</header>

