.wrapp{
    max-width: 500px;
    margin: 50px auto;
}

.form-control{
    max-width: 500px 
}

.card-box{
    display: none;
}

#btnCreate{
    display: none;
}

#btnExit{
    display: none;
}

.post{
    background: red;
    width: 500px;
    height: 500px;
}