.modal_window {
  display: flex;
  justify-content: center;
  width: 300px;
  background-color: #dbd9f0;
  border: 1px solid #adadad;
  border-radius: 10px;
  padding: 10px 20px;
}

.close-modal {
  display: block;
  width: 30px;
  height: 30px;
}

.card {
  background-color: #8f8f8f;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  max-width: 400px;
  color: white;
}

.hidden-field {
  display: none;
}

.container { 
margin: 0 auto;
max-width: 100%;
display: flex; // +
justify-content: center; // +
}

.modal_window { // +
gap: 30px;
}

.roww { 
margin: 0 auto;
display: flex;
flex-direction: row;
justify-content: center;
gap: 50px;
padding-top: 30px;
}

// .button-ds { 
//   display: flex;
//   flex-direction: ;
// }

.modal-container { //+
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.35);
  padding: 0;
}

.modal-container-close {
  display: none;
}
// .modal_window { 

// }

.form-wrapper1 { 
display: flex;
}

.container-wrap { 
  display: flex;
  flex-direction: row;
}