// Font settings: &display=swap
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap);

$fontFamily: "Roboto";
$mainColor: #4e4e4e;

$minWidth: 320px;
$maxWidth: 1920px;
//Container
$maxWidthContainer: 1170px;
$md1: 991.98;
$md2: 767.98;
$md3: 479.98;
$md4: 320;

@import "null";

//Basic styles
body {
  font-family: $fontFamily;
  color: $mainColor;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


//Basic styles

// Files import
@import "header";
@import "section_main";
// Files import


